[Desktop Entry]
Name=Back to Kodi
Comment=Close Steam and return to Kodi
Exec={INSTALLATION}/scripts/htpcinit-steam close
Icon=kodi
Terminal=false
Type=Application
Categories=AudioVideo;
