[Desktop Entry]
Version=1.0
Name=Back to Kodi
GenericName=Back to Kodi
Comment=Close Steam and return to Kodi
Exec=closesteambacktokodi
Icon=kodi
Terminal=false
Type=Application
Categories=AudioVideo;Video;Game;
