[Desktop Entry]
Name=Htpc
Comment=This session will start HtpcInit
Exec={INSTALLATION}/scripts/htpcinit
TryExec={INSTALLATION}/scripts/htpcinit
Type=Application
